@font-face {
    font-family: Ubuntu-Regular;
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'); 
}
  
@font-face {
    font-family: Ubuntu-Bold;
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
}

@media screen and (max-width: 600px) {
    .footer{
        visibility: hidden !important;
        display: none !important;
    }
}

.page-footer {
    height:120px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #827ffe; 
}

.page-footer-content {
    font-family: Ubuntu-Regular;
    color: white;
}

.page-footer-hr {
    background-color: white;
    height: 1px;
    border: none;
}