{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load list_tags %}

{% block title %}
    Add Ledger Base
{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'ledger/css/main.css'%}">
{% endblock css %}

{% block header %}
    {% include 'ledger_base/ledger_base_navbar.html' %}
{% endblock%}

{% block body %}

    <!-- Alert Invalid-->
    <div class="container" id="alert_lr">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Invalid-data</strong> / Dublicate L R No.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <!-- Alert Invalid-->

    <!-- Alert Add/Update-->
    <div class="container" id="alert_add">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            L R No - <strong id="alert_add_content"></strong> added/updated.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <!-- Alert Add/Update-->

    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="id_l_r_no">L R No</label>
                    {% render_field form.l_r_no class+="form-control" type="text" autocomplete="off" autofocus="true" id="lr_no"%}
                </div>
                <div class="form-group col-md-3">
                    <label for="id_l_r_date">L R Date</label>
                    {% render_field form.l_r_date class+="form-control" type="date"%}
                </div>
                <div class="form-group col-md-3">
                    <label for="id_bale_no">Bale No</label>
                    {% render_field form.bale_no class+="form-control"%}
                </div>
                <div class="form-group col-md-3">
                    <label for="id_supplier">Supplier</label>
                    {% render_field form.supplier class+="supplierAutoComplete form-control " type="text" autocomplete="off" %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="id_location">Location</label>
                    {% render_field form.location class+="locationAutoComplete form-control" type="text" autocomplete="off" %}
                </div>
                <div class="form-group col-md-3">
                    <label for="id_item">Item</label>
                    {% render_field form.item class+="itemAutoComplete form-control" type="text" autocomplete="off" %}
                </div>
                <div class="form-group col-md-3">
                    <label for="id_hsn_code">HSN Code</label>
                    {% render_field form.hsn_code class+="hsnAutoComplete form-control" type="text" autocomplete="off" %}
                </div>
                <div class="form-group col-md-3">
                    <label for="id_pcs_mtr">PCS/MTR</label>
                    {% render_field form.pcs_mtr class+="form-control" type="text"%}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="id_bill_ammount">Bill Amount</label>
                    {% render_field form.bill_ammount class+="form-control" autocomplete="off" type="text"%}
                </div>
                <div class="form-group col-md-3">
                    <label for="id_weight">Weight</label>
                    {% render_field form.weight class+="form-control" type="text" autocomplete="off"%}
                </div>
                <div class="form-group col-md-3">
                    <label for="id_frieght">Frieght</label>
                    {% render_field form.frieght class+="form-control" %}
                </div>
                <div class="form-group col-md-3">
                    <label for="id_transport">Transport</label>
                    {% render_field form.transport class+="form-control transportAutoComplete" type="text" autocomplete="off"%}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="id_delivery">Delivery</label>
                    {% render_field form.delivery class+="form-control" type="date"%}
                </div>
                <div class="form-group col-md-3">
                    <label for="id_reciept">Reciept</label>
                    {% render_field form.reciept class+="form-control" type="text" autocomplete="off"%}
                </div>
                <div class="form-group col-md-3">
                    <label for="id_remark">Remark</label>
                    {% render_field form.remark class+="form-control" type="text" autocomplete="off"%}
                </div>
                <div class="form-group col-md-3">
                    <label for="id_no_of_bale">No Of Bale</label>
                    {% render_field form.no_of_bale class+="form-control" type="number" autocomplete="off"%}
                </div>
            </div>
            <div class="form-row">
                {% if  instance and request.user.is_staff%}
                <div class="form-group col-md-4">
                    <input type="submit" value="Add/Update" class="form-control btn btn-primary form-button">
                </div>
                <div class="form-group col-md-4">
                    <button type="button" class="form-control btn btn-danger form-button" data-toggle="modal" data-target="#deleteConformation">
                    Delete
                    </button>
                </div>
                <div class="form-group col-md-4">
                    <button type="button" class="form-control btn btn-success form-button" data-toggle="modal" data-target="#approveConformation">
                    Approve
                    </button>
                </div>
                {% else %}
                <div class="form-group col-md-12">
                    <input type="submit" value="Add/Update" class="form-control btn btn-primary form-button">
                </div>
                {% endif %}
            </div>
        </form>
    </div>

    <!-- Modal -->
    {% if instance and request.user.is_staff%}
    <div class="modal fade" id="deleteConformation" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="form-control btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{% url 'ledger_base_delete' id=instance %}" class="form-control btn btn-danger ">Delete</a>
            </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Modal -->

    <!-- Modal Approve-->
    {% if instance and request.user.is_staff%}
    <div class="modal fade" id="approveConformation" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="form-control btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{% url 'ledger_base_approve' id=instance %}" class="form-control btn btn-success ">Approve</a>
            </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Modal  Approve-->
{% endblock body %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

{% block script %}
    <script src="{% static 'ledger/js/add_ledger.js'%}"></script>
    <script>
    // Readonly field
    {% if instance and request.user.is_staff is False %}
        document.getElementById('lr_no').readOnly = true;
    {% endif %}

    //------------Auto Complete -------------------
    $('.supplierAutoComplete').autoComplete({
        minLength: 1,
        resolverSettings: {
            url: "{% url 'autocomplete'%}?field=supplier",
            requestThrottling: 700
        },
    });
    $('.locationAutoComplete').autoComplete({
        minLength: 1,
        resolverSettings: {
            url: "{% url 'autocomplete'%}?field=location",
            requestThrottling: 700
        }
    });
    $('.transportAutoComplete').autoComplete({
        minLength: 1,
        resolverSettings: {
            url: "{% url 'autocomplete'%}?field=transport",
            requestThrottling: 700
        }
    });

    $('.itemAutoComplete').autoComplete({
        minLength: 1,
        resolverSettings: {
            url: "{% url 'autocomplete'%}?field=item",
            requestThrottling: 700
        }
    });
    //------------Auto Complete -------------------

    //-------------Search Field -------------------
    $('.lrAutoComplete').autoComplete({
        minLength: 1,
        resolverSettings: {
            url: "{% url 'autocomplete'%}?field=l_r_no",
            requestThrottling: 700
        },
    });

    $('.lrAutoComplete').on('autocomplete.select', (evt, item)=>{
        window.location.replace(`{% url 'ledger_add'%}?l_r_view=${item}&{% url_replace %}`);
    });
    //-------------Search Field -------------------
    </script>
{% endblock script %}