{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% load list_tags %}

{% block title %}
    Ledger Staff
{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'ledger/css/main.css'%}">
{% endblock css %}

{% block header %}
    {% include 'ledger_base/ledger_base_navbar.html' %}
{% endblock%}

{% block body %}
<!-- Alert Delete-->
<div class="container" id="alert_delete">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        L R No - <strong id="alert_delete_content"></strong> deleted.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<!-- Alert Delete-->

<!-- Alert Update-->
<div class="container" id="alert_update">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        L R No - <strong id="alert_update_content"></strong> Updated.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<!-- Alert Update-->

<!-- Alert Approve-->
<div class="container" id="alert_approve">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        L R No - <strong id="alert_approve_content"></strong> Approved.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<!-- Alert Approve-->



<!--Table Bootstrap-->
<div class="table-responsive text-nowrap">
    <table class="table table-hover">
        <thead>
            <tr> 
                <th>L R No</th>
                <th>Delivery Date</th>
                <th>Approval</th>
            </tr>
        </thead>
        <tbody>
            {% for ledger in object_list %}
            <tr class ="clickable-row" data-href="{% url 'ledger_base_add' %}{{ ledger.id }}/?{% url_replace %}">
                <td>{{ ledger.l_r_no }}</td>
                <td>{{ ledger.delivery|default_if_none:"-" }}</td>
                <td>
                    {% if ledger.approved %}
                    <div style="color: green;">Approved</div>
                    {%else%}
                    <div style="color: red;">Not Approved</div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Pagination -->
{% if is_paginated %}
<div class="container-fluid">
    <nav>
        <ul class="pagination">
            <li class="page-item">
                <a href="{% url 'ledger_list' %}?{% url_replace page=1%}" class="page-link">
                    First
                </a>
            </li>
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="{% url 'ledger_list' %}?{% url_replace page=page_obj.previous_page_number%}" class="page-link">
                    {{ page_obj.previous_page_number }}
                </a>
            </li>
            {% endif %}

            <li class="page-item active">
                <a href="{% url 'ledger_list' %}?{% url_replace page=page_obj.number%}" class="page-link">
                    {{ page_obj.number }}
                </a>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="{% url 'ledger_list' %}?{% url_replace page=page_obj.next_page_number%}" class="page-link">
                    {{ page_obj.next_page_number }}
                </a>
            </li>
            {% endif %}

            <li class="page-item">
                <a href="{% url 'ledger_list' %}?{% url_replace page=paginator.num_pages %}" class="page-link">
                    Last
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endif %}

{% endblock body %}

{% include 'footer.html' %}
{% block script %}  
    <script>
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    </script>
    <script src="{% static 'ledger_base/js/list_ledger.js'%}"></script>
{% endblock script %}

    