{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Login
{% endblock title %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'user/css/main.css'%}">
{% endblock css %}

{% block body %}
    </form>
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" method="post">
                    {% csrf_token %}
					<span class="login100-form-title p-b-61">
						Cash Center
					</span>

					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
						{% render_field form.username class+="input100" placeholder="Username" %}
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						{% render_field form.password class+="input100" placeholder="Password" %}
						<span class="focus-input100"></span>
					</div>
					
					<div class="flex-sb-m w-full p-t-3 p-b-24">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					<span class="login100-form-error p-t-30">
						{% if form.errors %}
							{% for field in form %}
								{% for error in field.errors %}	
									{{ error|escape }}
								{% endfor %}
							{% endfor %}
							{% for error in form.non_field_errors %}
								{{ error|escape }}
							{% endfor %}
						{% endif %}
					</span>
				</form>
			</div>
		</div>
	</div>
	<div id="dropDownSelect1"></div>
    {% block script %}
        <script src="{% static 'user/js/main.js' %}"></script>
    {% endblock script %}
{% endblock body %}