/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
  font-family: Lato-Regular;
  src: url('../../library/fonts/Lato/Lato-Regular.ttf'); 
}

@font-face {
  font-family: Lato-Bold;
  src: url('../../library/fonts/Lato/Lato-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

body, html {
	height: 100%;
	font-family: sans-serif;
}
body {
  margin-top: 110px;
  margin-bottom: 110px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
thead{
  font-family: Lato-Bold;
  font-size: 18px;
  color: white;
  line-height: 2;
  text-transform: uppercase;
  background-color: #827ffe;
}

tbody{
  font-family: Lato-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.6;
}

th, td{
  text-align: center;
}

.first{
  text-align: left !important;
  padding-left: 20px !important;
}

.last{
  font-family: Lato-Bold !important;
  font-size: 16px !important;
  color: white !important;
  line-height: 1.6 !important;
  text-transform: uppercase !important;
  background-color: #827ffe !important;
}

tr:nth-child(even) {
  background-color: #f8f6ff;;
}


/*//////////////////////////////////////////////////////////////////
[ FORM ]*/
form {
  font-family: Lato-Regular;
  padding-bottom: 20px;
}
.form-item {
  margin-left: 10px;
}
.form-item-half {
  margin-left: 5px;
}
.form-row {
  padding-bottom: 10px;
}
.form-button {
  margin-top: 31px;
}