{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Add Stock
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'stock/css/main.css'%}">
{% endblock css %}

{% block body %}
    {% include 'stock/stock_navbar.html' %}
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="id_category">Category</label>
                    {% render_field form.category class+="form-control categoryAutoComplete" type="text" autocomplete="off"%}
                </div>
                <div class="form-group col-md-3">
                    <label for="id_company">Company</label>
                    {% render_field form.company class+="form-control companyAutoComplete" type="text" autocomplete="off"%}
                </div>
                <div class="form-group col-md-3">
                    <label for="id_item">Item</label>
                    {% render_field form.item class+="form-control itemAutoComplete" type="text" autocomplete="off"%}
                </div>
                <div class="form-group col-md-3">
                    <label for="id_hsn">HSN</label>
                    {% render_field form.hsn class+="form-control" type="text" autocomplete="off"%}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="id_pcs_mtr">PCS/MTR</label>
                    {% render_field form.pcs_mtr class+="form-control" type="number" autocomplete="off"%}
                </div>
                <div class="form-group col-md-3">
                    <label for="id_rate">Rate</label>
                    {% render_field form.rate class+="form-control" type="number" autocomplete="off"%}
                </div>
                {% if  instance %}
                <div class="form-group col-md-3">
                    <input type="submit" value="Add/Update" class="form-control btn btn-primary form-button">
                </div>
                <div class="form-group col-md-3">
                    <button type="button" class="form-control btn btn-danger form-button" data-toggle="modal" data-target="#deleteConformation">
                    Delete
                    </button>
                </div>
                {% else %}
                <div class="form-group col-md-6">
                    <input type="submit" value="Add/Update" class="form-control btn btn-primary form-button">
                </div>
                {% endif %}
            </div>
        </form>
    </div>
    <!-- Modal -->
    {% if instance %}
    <div class="modal fade" id="deleteConformation" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="form-control btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{% url 'stock_delete' id=instance %}" class="form-control btn btn-danger ">Delete</a>
            </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Modal -->
    
{% endblock body %}
{% block script %}
<script>
    $('.categoryAutoComplete').autoComplete({
        minLength: 1,
        resolverSettings: {
            url: "{% url 'stock_autocomplete'%}?field=category"
        }
    });

    $('.companyAutoComplete').autoComplete({
        minLength: 1,
        resolverSettings: {
            url: "{% url 'stock_autocomplete'%}?field=company"
        }
    });

    $('.itemAutoComplete').autoComplete({
        minLength: 1,
        resolverSettings: {
            url: "{% url 'stock_autocomplete'%}?field=item"
        }
    });
    
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
{% endblock script %}