{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load mathfilters %}

{% block title %}
    Stock
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'stock/css/main.css'%}">
{% endblock css %}


{% block body %}
{% include 'stock/stock_navbar.html' %}
    <!--Filter form-->
    <form action="" method="get">
        {% csrf_token %}
        <div class="row form-item">
            <div class="col-md-2 form-item"> Item</div>
            <div class="col-md-2 form-item"> HSN</div>
            <div class="col-md-2 form-item"> Category</div>
        </div>
        <div class="row form-item">
            {% for field in filter.form.visible_fields %}
                {% render_field field class+="form-control col-md-2 form-item"%}
            {% endfor %}
            <input type="Submit" class="form-control btn btn-primary submit-button col-md-2 form-item" value="Filter">
        </div>

    </form>
    <!-- Filter form end-->
    <!--Table Bootstrap-->
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">HSN</th>
                    <th scope="col">Category</th>
                    <th scope="col">Company</th>
                    <th scope="col">Item</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Pcs/Mtr</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in filter.qs %}
                <tr class ="clickable-row" data-href="{% url 'stock_add' %}{{ stock.id }}">
                    <td class="first">{{stock.hsn}}</td>
                    <td>{{stock.category|default_if_none:"-"}}</td>
                    <td>{{stock.company|default_if_none:"-"}}</td>
                    <td>{{stock.item|default_if_none:"-"}}</td>
                    <td>{{stock.rate|floatformat:2}}</td>
                    <td>{{stock.pcs_mtr|floatformat:2}}</td>
                    <td>{{stock.rate|mul:stock.pcs_mtr|floatformat:2}}</td>
                </tr>
                {% endfor %}
                <tr class="last">
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">{{total|floatformat:2}}</th>
                </tr>
            </tbody>
        </table>
    </div>
    <!--Table Bootstrap End-->
{% endblock body %}

{% block script %}  
    <script>
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    </script>
{% endblock script %}