{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Ledger
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'ledger/css/main.css'%}">
{% endblock css %}


{% block body %}
{% include 'ledger/ledger_navbar.html' %}
    <!--Filter form-->
    <form action="" method="get">
        {% csrf_token %}
        <div class="row form-item">
            <div class="col-md-4 form-item"> L R Date</div>
            <div class="col-md-1 form-item"> L R No</div>
            <div class="col-md-2 form-item"> Delivery Date</div>
            <div class="col-md-1 form-item"> Reciept</div>
            <div class="col-md-1 form-item"> Status</div>
            <div class="col-md-2 form-item"> Order by</div>
        </div>
        <div class="row form-item">
            {% render_field filter.form.l_r_date class+="form-control"%}
            {% render_field filter.form.l_r_no__contains class+="form-control col-md-1 form-item"%}
            {% render_field filter.form.delivery class+="form-control col-md-2 form-item" type="date"%}
            {% render_field filter.form.reciept class+="form-control col-md-1 form-item" type="text"%}
            {% render_field filter.form.status class+="form-control col-md-1 form-item"%}
            {% render_field filter.form.ordering class+="form-control col-md-1 form-item"%}
            <input type="Submit" class="form-control btn btn-primary submit-button col-md-1 form-item" value="Filter">
        </div>

    </form>
    <!-- Filter form end-->

    <!--Table Bootstrap-->
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">L R No</th>
                    <th scope="col">L R Date</th>
                    <th scope="col">Bale No</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Item</th>
                    <th scope="col">Pcs/Mtr</th>
                    <th scope="col">Price</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Frieght</th>
                    <th scope="col">Transport</th>
                    <th scope="col">Delivery</th>
                    <th scope="col">Reciept</th>
                    <th scope="col">Status</th>
                    <th scope="col">Remark</th>
                </tr>
            </thead>
            <tbody>
                {% for ledger in filter.qs %}
                <tr class ="clickable-row" data-href="{% url 'ledger_add' %}{{ ledger.id }}">
                    <td class="first">{{ledger.l_r_no}}</td>
                    <td>{{ledger.l_r_date|default_if_none:"-"}}</td>
                    <td>{{ledger.bale_no|default_if_none:"-"}}</td>
                    <td>{{ledger.supplier|default_if_none:"-"}}</td>
                    <td>{{ledger.location|default_if_none:"-"}}</td>
                    <td>{{ledger.item|default_if_none:"-"}}</td>
                    <td>{{ledger.pcs_mtr|default_if_none:"-"}}</td>
                    <td>{{ledger.price|default_if_none:"-"}}</td>
                    <td>{{ledger.weight|default_if_none:"-"}}</td>
                    <td>{{ledger.transport|default_if_none:"-"}}</td>
                    <td>{{ledger.delivery|default_if_none:"-"}}</td>
                    <td>{{ledger.reciept|default_if_none:"-"}}</td>
                    <td>{{ledger.status|default_if_none:"-"}}</td>
                    <td>{{ledger.remark|default_if_none:"-"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--Table Bootstrap End-->
{% endblock body %}

{% block script %}  
    <script>
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    </script>
{% endblock script %}