{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}
    Ledger
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'ledger/css/main.css'%}">
{% endblock css %}


{% block body %}
{% include 'ledger/ledger_navbar.html' %}
    <!--Filter form-->
    <form action="" method="get">
        {% csrf_token %}
        <div class="row form-item">
            <div class="col-md-4 form-item"> L R Date</div>
            <div class="col-md-1 form-item"> L R No</div>
            <div class="col-md-2 form-item"> Delivery Date</div>
            <div class="col-md-1 form-item"> Reciept</div>
            <div class="col-md-1 form-item"> Bale No</div>
            <div class="col-md-1 form-item"> Item</div>
            <div class="col-md-1 form-item"> Status</div>
        </div>
        <div class="row form-item">
            {% render_field filter.form.l_r_date class+="form-control"%}
            {% render_field filter.form.l_r_no__contains class+="form-control col-md-1 form-item"%}
            {% render_field filter.form.delivery class+="form-control col-md-2 form-item" type="date"%}
            {% render_field filter.form.reciept class+="form-control col-md-1 form-item" type="text"%}
            {% render_field filter.form.bale_no__contains class+="form-control col-md-1 form-item" type="text"%}
            {% render_field filter.form.item__contains class+="form-control col-md-1 form-item" type="text"%}
            {% render_field filter.form.status class+="form-control col-md-1 form-item"%}
        </div>
        <div class="row form-item" style="margin-top:10px;">
            <div class="col-md-2 form-item"> Select Columns</div>
        </div>

        <div class="row form-item">
            {% render_field filter.form.columns class+="selectpicker form-control col-md-3 form-item" data-live-search="true" size="3"%}
            <div>
                <input type="Submit" class=" form-control btn btn-primary submit-button col-md-12" value="Filter">
            </div>
        </div>
        
    </form>
    <!-- Filter form end-->

    <!--Table Bootstrap-->
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    {% with object_list|first as first %}
                        {% for key in first%}
                            {% if key != 'id' %}<th scope="col">{{key}}</th>{% endif %}
                        {% endfor %}
                    {% endwith %}
                </tr>
            </thead>
            <tbody>
                {% for ledger in object_list %}
                <tr class ="clickable-row" data-href="{% url 'ledger_add' %}{{ ledger.id }}">
                    {% for key, value in  ledger.items %}
                            {% if key == 'status' %}
                                {% if value == True %}
                                    <td>Recieved</td>
                                {% else%}
                                    <td>Not-Recieved</td>
                                {% endif %}
                            {% elif key != 'id'%}
                                <td>{{value|default_if_none:"-"}}</td>
                            {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--Table Bootstrap End-->

{% endblock body %}

{% block script %}  
    <script>
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    </script>
{% endblock script %}