{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% load list_tags %}

{% block title %}
    Ledger
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'ledger/css/main.css'%}">
{% endblock css %}


{% block body %}
{% include 'ledger/ledger_navbar.html' %}
    <!--Filter form-->
    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Filter Options
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <form action="" method="get">
            {% csrf_token %}
            <div class="form-row form-item">
               <div class="form-group col-md-2">
                    <label for="id_l_r_date">L R Date from</label>
                    <input type="date" name="l_r_date_min" class="form-control" id="id_l_r_date_0">
                </div>
                <div class="form-group col-md-2">
                    <label for="id_l_r_date">L R Date to</label>
                    <input type="date" name="l_r_date_max" class="form-control" id="id_l_r_date_1">
                </div>
                <div class="form-group col-md-1">
                    <label for="id_l_r_no__contains">L R No</label>
                    {% render_field filter.form.l_r_no__contains class+="form-control"%}
                </div>

                <div class="form-group col-md-2">
                    <label for="id_delivery">Delivery Date</label>
                    {% render_field filter.form.delivery class+="form-control" type="date"%}
                </div>

                <div class="form-group col-md-1">
                    <label for="id_reciept">Reciept</label>
                    {% render_field filter.form.reciept class+="form-control" type="text"%}
                </div>

                <div class="form-group col-md-1">
                    <label for="id_bale_no__contains">Bale No</label>
                    {% render_field filter.form.bale_no__contains class+="form-control" type="text"%}
                </div>
                
                <div class="form-group col-md-1">
                    <label for="id_item__contains">Item</label>
                    {% render_field filter.form.item__contains class+="form-control" type="text"%}
                </div>
                <div class="form-group col-md-2">
                    <label for="id_status">Status</label>
                    {% render_field filter.form.status class+="form-control"%}
                </div>
            </div>
            <div class="form-row form-item">
                <div class="form-group col-md-3">
                    <label for="id_columns">Select Columns</label>
                    {% render_field filter.form.columns class+="selectpicker form-control" data-live-search="true" size="3"%}
                </div>
                <div class="form-group col-md-2">
                    <label for="id_d_status">Delivery</label>
                    {% render_field filter.form.d_status class+="form-control"%}
                </div>
                <div class="form-group col-md-2">
                    <input type="Submit" class=" form-control btn btn-primary submit-button col-md-12" value="Filter">
                </div>
            </div>
        </form>    
    </div>
    <!-- Filter form end-->

    <!--Table Bootstrap-->
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    {% with object_list|first as first %}
                        {% for key in first%}
                            {% if key != 'id' %}<th scope="col">{{key}}</th>{% endif %}
                        {% endfor %}
                    {% endwith %}
                </tr>
            </thead>
            <tbody>
                {% for ledger in object_list %}
                <tr class ="clickable-row" data-href="{% url 'ledger_add' %}{{ ledger.id }}">
                    {% for key, value in  ledger.items %}
                            {% if key == 'status' %}
                                {% if value == True %}
                                    <td>Done</td>
                                {% else%}
                                    <td>Pending</td>
                                {% endif %}
                            {% elif key != 'id'%}
                                <td>{{value|default_if_none:"-"}}</td>
                            {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--Table Bootstrap End-->

    <!-- Pagination -->
    {% if is_paginated %}
    <nav>
        <ul class="pagination">
            <li class="page-item">
                <a href="{% url 'ledger_list' %}?page=1" class="page-link">
                    First
                </a>
            </li>
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="{% url 'ledger_list' %}?{% url_replace page=page_obj.previous_page_number%}" class="page-link">
                    {{ page_obj.previous_page_number }}
                </a>
            </li>
            {% endif %}

            <li class="page-item active">
                <a href="{% url 'ledger_list' %}?{% url_replace page=page_obj.number%}" class="page-link">
                    {{ page_obj.number }}
                </a>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="{% url 'ledger_list' %}?{% url_replace page=page_obj.next_page_number%}" class="page-link">
                    {{ page_obj.next_page_number }}
                </a>
            </li>
            {% endif %}

            <li class="page-item">
                <a href="{% url 'ledger_list' %}?{% url_replace page=last %}" class="page-link">
                    Last
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
    <!-- Pagination End-->

{% endblock body %}

{% block script %}  
    <script>
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    </script>
{% endblock script %}