<footer class="page-footer font-small pt-4">
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-6">
                <h4 class="page-footer-content">Cash Center</h4>
            </div>
            <div class="col-md-6">
                <h4>
                    <a class="page-footer-content" href="mailto:cashcenter_dbg@yahoo.in" target="_top">
                        cashcenter_dbg@yahoo.in
                    </a>
                </h4>       
            </div>
            <div class="col-12">
                <hr class="page-footer-hr">
                <h6 class="page-footer-content">&copy Cash Center</h6>
            </div>
        </div>
    </div>
</footer>