{% load list_tags %}
<footer class="page-footer font-small pt-4">
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-6">
                <h5 class="page-footer-content">{% get_shop %}</h5>
            </div>
            <div class="col-md-6">
                <h5>
                    <a class="page-footer-content" href="mailto:cashcenter_dbg@yahoo.in" target="_top">
                        khetanatulz@gmail.com
                    </a>
                </h5>       
            </div>
            <div class="col-12">
                <hr class="page-footer-hr">
                <h6 class="page-footer-content">&copy phantomhive</h6>
            </div>
        </div>
    </div>
</footer>