 <nav class="navbar navbar-expand-md sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand scroll navbar-heading" href="{% url 'ledger_list' %}">
            <h1>
                Cash Center
            </h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" style="color: white">
            <span class="navbar-toggler-icon" ></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active navbar-item">
                    <a href="{% url 'ledger_list' %}" class="btn btn-light btn">Ledger</a>
                </li>
                <li class="nav-item active navbar-item">
                    <a href="{% url 'stock_list' %}" class="btn btn-light btn">Stock</a>
                </li>
                {% block links %}
                {% endblock links %}
                <li class="nav-item navbar-item">
                    <a href="{% url 'user_logout' %}" class="btn btn-danger btn">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>